.about-heading{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    color: #2C3D4F;
}

.aboutme-btn{
    color: white;
    width: 4.6rem;
    font-size: 0.8rem;
    height: 1.7rem;
    border-radius: 0.3rem;
    outline: none;
    border: none;
    background-color: #F3912E;
}

.aboutme-btn:hover{
    background-color: #F3AA61;
}
