.view{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.content{
    margin-left: 80px;
    width: 100%;
    background-color: #F2F5FA;
  
}


.main-cont-w_sidebar{
    height: 89vh;
    display: flex;
    margin-top: 11vh;
    flex-direction: row;
}