/* .modal {
    z-index: 100;
    position: fixed;
    top: 30vh;
    left: calc(50% - 10rem);
    left: 10%;
    width: 20rem;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 8px;
  }
  
  .modal__header {
    width: 100%;
    padding: 1rem 0.5rem;
    background: #2a006e;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: white;
  }
  
  .modal__header h2 {
    margin: 0.5rem;
  }
  
  .modal__content {
    padding: 1rem 0.5rem;
    width: 100%;
  }
  
  .modal__footer {
    padding: 1rem 0.5rem;
  }
  
  @media (min-width: 768px) {
    .modal {
      left: calc(50% - 10rem);
      width: 20rem;
    }
  }
  
  .modal-enter {
    transform: translateY(-10rem);
    opacity: 0;
  }
  
  .modal-enter-active {
    transform: translateY(0);
    opacity: 1;
    transition: all 200ms;
  }
  
  .modal-exit {
    transform: translateY(0);
    opacity: 1;
  }
  
  .modal-exit-active {
    transform: translateY(-10rem);
    opacity: 0;
    transition: all 200ms;
  }
   */

.modal {
  width: 30rem;
  height: fit-content;
  background-color: white;
  position: absolute;
  top: 30vh;
  z-index: 2000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1.5rem;
  padding: 1.5rem;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.34);
}
.modal__content {
  height: fit-content;
}

.modal__footer {
  margin-top: 1rem;
  height: 7vh;
  display: flex;
  flex-direction: row-reverse;
}

.save_btn{
  color: white;
  width: 5rem;
  font-size: 0.8rem;
  height: 2rem;
  border-radius: 0.3rem;
  outline: none;
  border: none;
  background-color: #f3912e;
  
}
.save_btn:hover {
  background-color: #f3aa61;
}

.password_footer{
  display: flex;
  gap:1rem;
  align-items: center;
 
}

.cancel_btn{
  color: white;
  width: 5rem;
  font-size: 0.8rem;
  height: 2rem;
  border-radius: 0.3rem;
  outline: none;
  border: none;
  background-color: black;
}

.cancel_btn:hover{
  background-color: #4C5151;

}
