.sidebar {
  background: white;
  color: black;
  height: 95vh;
  padding: 1rem;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.34);
  position: fixed;
  z-index: 800;
  font-size: 1.2rem;
  width: fit-content;
  /* margin-top: 11vh; */
}
/* .main-container {
  font-size: 1.2rem;
  width: fit-content;
  height: fit-content;
} */
.cust-icon {
  font-size: 2rem;
}
.goto-login{
  position: relative;
  width: fit-content;
  padding: 0.2rem;
  border-radius: 0.2rem;
  outline: none;
  border: none;
  background-color: white;
}


a {
  text-decoration: none;
  color: inherit;
  text-align: left;
}
.routes {
  width: 100%;
  height: 100%;
}
.scroll-nav {
  height: 80%;
  overflow-y: scroll;
}
.scroll-nav::-webkit-scrollbar {
  display: none;
}

.scroll-nav {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.link {
  width: 90%;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  display: flex;
  gap: 10px;
  padding: 10px 10px;
  border-radius: 10px;
  margin-bottom: 1rem;
  align-items: center;
}
.link:hover {
  background: #f6e6d6;
}
.logout-btn:hover {
  background: #f6e6d6;
}
hr {
  width: 100%;
  margin-bottom: 0.5rem;
}

.logout-btn {
  display: flex;
  gap: 10px;
  padding: 10px 10px;
  border-radius: 10px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  z-index: -1;
  
}
.logout-btn .cust-icon {
  width: fit-content;
  text-align: center;
}

.icon{
    text-align: center;
}
.link_name{
    text-align: center;
}